{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'AppUserhome/style.css' %}">
    <title>Home</title>
</head>

<body>

    <header>
        <h1 class="logo">
            <a href="{% url 'projectsearch:home' %}">LSMcrowdsource</a>
            <a href="{% url 'userhome:home' %}">Home</a>
        </h1>
    </header>


        <h1>Welcome 
            <a href="{% url 'adminaccess:adminpage' %}">
                {{ my_fullname }}</a>
        </h1>

    <h3 style="color:{{msg_col}};">
        {{ message }}
    </h3>

    <form class = "create" action="{% url 'adminaccess:edit_proj_update' proj_id=p_id update='True' %}" method="post">
        {% csrf_token %}

        <i class="far fa-user-circle"></i>
        <input type="text" placeholder="Picture URL" name=ppicurl value="{{ppicurl}}">
        <i class="far fa-user-circle"></i>
        <input type="text" placeholder="Project Title" name=proj_id value="{{pid}}">
        <i class="far fa-address-card"></i>
        <input type= "text" placeholder = "Project Keywords" name=pkeywd value="{{pkeywd}}"><br>
        <i class="far fa-hand-holding-usd"></i>
        <input type= "text" placeholder = "Project Description" name=pdesc value="{{pdesc}}"><br>
        <i class="far fa-hand-holding-usd"></i>
        <input type= "number" placeholder = "Project Duration" name=pdur value={{pdur}}><br>
        <i class="far fa-lock"></i>
        <input type= "number" placeholder = "Project Target" name=ptar value={{ptar}}><br>
        <button type="Edit">Confirm Edit</button>
        <br>
     </form>

     <h2 style="color:red;">
        <a href="{% url 'adminaccess:del_proj' proj_id=pid %}" method='post'>DELETE PROJECT</a>
    </h2>
        
</body>