<html>
    <head>
        <title>
            AppTPCC Home
        </title>
    </head>

    <body>
        <form method="GET" action="result">

                <input type="radio" id="action type" name="action_type" value="search">
                <label for="Search Item">Seach Item</label><br>
                <input type="radio" id="action type" name="action_type" value="sql">
                <label for="SQL">SQL query</label><br>

                <label for="search">What are you looking for?</label><br>
                <input type="text" id="search" name="search" value="Search Here"><br>

                <input type="submit" value="Search">
        </form>
    </body>
</html>