{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{% static 'AppLogin/style.css' %}">
   <script src="https://kit.fontawesome.com/883669fa4c.js" crossorigin="anonymous"></script>
   <title>Join us!</title>
</head>

<body>
   <header>
      <h2> Join us!</h2>
   </header>

   <nav>
      <a class = "signin" href="{% url 'login:login_page' %}">Sign In</a>
      <a class = "active_tab" href="create.html">Create Account</a>
   </nav>

<form class="signup" action="{% url 'login:registered' %}" method="post">
   <!-- <i class="far fa-user"></i> -->
   {% csrf_token %}
   <input type="text" placeholder="Username" name="username">
   <br>
   <input type= "text" placeholder = "Full Name" name="fullname">
   <input type= "number" placeholder = "Top-Up Amount (Just Make it Rain)" name="topup_amt">
   <input type="password" placeholder ="Password" name="password">
   <input type="Password" placeholder="Repeat your password" name='password_re'>
   <br>
   <button type="submit">Register</button>
   <br>
</form>