{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel = "stylesheet" href="{% static 'AppLogin/style.css' %}">
   <title>Welcome!</title>
</head>

<body>
   <section class = "column">

   <div class = "left">
      <img src = "https://github.com/lsmoriginal/Projects/blob/master/final_project/LSMcrowdsource/AppLogin/templates/AppLogin/Images/image_A.jpg?raw=true" alt="image" width="500">
   </div>

   <div class = "right">
      <nav>
         <a class = "active_tab" href="start.html">Sign In</a>  
         <a href = "create.html">Create Account</a>
      </nav>
      <form> 

         <input type="text" placeholder = "username">
         <br>
         <input type="password" placeholder = "password">
         <br>
         <button type = "submit">Log in</button>
         <br>
      </form>

   </div>

   </section>

</html>