{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'AppLogin/style_new.css' %}">
    <title>Registration Error</title>
</head>

<body>

    <header class = "center">
        <h1 class = "logo">LSMcrowdsource</h1>
        <h1> {{main_text}} </h1>
        <p>{{message}}</p>
        <a href="{% url 'userhome:home' %}">Home</a>
    </header>

</body>
</html>