{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'AppUserhome/style.css' %}">
    <title>Home</title>
</head>

<body>

    <header>
        <h1 class="logo">
            <a href="{% url 'projectsearch:home' %}">LSMcrowdsource</a>
            <a href="{% url 'userhome:home' %}">Home</a>
        </h1>
    </header>


        <h1>Welcome 
            
            <a href="{% url 'adminaccess:adminpage' %}">
                {{ fullname }}</a>
        </h1>
        <h2>Hello, this is your home page</h2>

        <img src="{{ user_img }}" 
        alt='myself' 
        style="width: 200px; margin: 10px;">

        <h2>Your account balance is: ${{ acc_bal }}</h2>

    <h2>
        <a href="{% url 'userhome:new_project' state='new_proj' %}">New Project</a>
    </h2>

    <h3>This is your ongoing projects!</h3>
    <table border="1">
        <tr>
            {% for header in header_ongoing %}
            <th> {{ header }} </th>
            {% endfor %}
        </tr>


        {% for r in ongoing_projects %}
            <tr>
                <td>
                    <a href="{% url 'userhome:view_project' proj_id=r.0 %}">{{ r.0 }}</a>
                </td>

                {% for i in r|slice:"1:" %}
                <td> {{ i }}  </td>
                {% endfor %}

            </tr>
        {% endfor %}
    </table>

    <br>
    <br>

    <h3><h3>This is your expired projects!</h3></h3>
    <table border="1">
        <tr>
            {% for header in header_expired %}
            <th> {{ header }} </th>
            {% endfor %}
        </tr>

        {% for r in expired_projects %}
            <tr>
                <td>
                    <a href="{% url 'userhome:view_project' proj_id=r.0 %}">{{ r.0 }}</a>
                </td>

                {% for i in r|slice:"1:" %}
                <td> {{ i }}  </td>
                {% endfor %}
            </tr>

        {% endfor %}
    </table>

    <br>
    <br>

    <h3><h3>Here are your donated projects!</h3></h3>
    <table border="1">
        <tr>
            {% for header in header_donated %}
            <th> {{ header }} </th>
            {% endfor %}
        </tr>

        {% for r in donated_projects %}
            <tr>
                <td>
                    <a href="{% url 'userhome:view_project' proj_id=r.0 %}">{{ r.0 }}</a>
                </td>

                {% for i in r|slice:"1:" %}
                <td> {{ i }}  </td>
                {% endfor %}
            </tr>

        {% endfor %}
    </table>

</body>